// Primary colors
$primary-color-1: rgb(224, 232, 255);
$primary-color-2: rgb(114, 128, 167);

// Accent colors
$accent-color-1: rgb(56, 42, 225);

// Neutral colors
$neutral-color-1: rgb(245, 247, 255);
$neutral-color-2: rgb(114, 128, 167);
$neutral-color-3: rgb(31, 47, 86);