@mixin text-button() {
        background: none;
        border: none;
        cursor: pointer;
}

body {
    align-items: center;
    background: url("../images/pattern-background-mobile.svg") no-repeat top/contain;
    background-color: $primary-color-1;
    color: $neutral-color-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-component {
    border-radius: 2rem;
    box-shadow: 0 2rem 1.8rem rgba($color: $neutral-color-3, $alpha: 0.1);
    margin: 0 2.4rem;
    min-width: 320px;
    max-width: 450px;
    overflow: hidden;    
}

.hero-img {
    display: block;
    width: 100%;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3.2rem 2.4rem;

    .order {
        &__title {
            color: $neutral-color-3;
            margin-bottom: 1.6rem;
        }
    }
}

.alt-plan {
    align-items: center;
    background-color: $neutral-color-1;
    border-radius: 0.8em;
    display: flex;
    justify-content: space-between;
    margin: 2.4rem 0;
    padding: 1.6rem;

    &__details {
        flex-grow: 1;
        margin-left: 2rem;
    }

    &__title {
        color: $neutral-color-3;
        margin-bottom: 0.3rem;
    }

    &__cta {
        @include text-button();

        color: $accent-color-1;
        text-decoration: underline;
    }
}

.cta {
    background-color: $accent-color-1;
    border: none;
    border-radius: 0.8em;
    box-shadow: 0 2rem 1.3rem rgba($color: $accent-color-1, $alpha: 0.12);
    color: white;
    outline: none;
    padding: 1.6rem 0;
}

.cancel-btn {
    @include text-button();
    color: $primary-color-2;
    margin-top: 2.4rem;
}